# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
#build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
#*.mo
#*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/poetry.lock
workdir
tase.toml
/tase.json
/tase/unknown_errors.txt
.idea
/.idea/
/certs/
/docs/source/
/docs/build/doctrees/
*.bats
Makefile
source/
/docs/source/*
/docs/build/html/.buildinfo
/docs/build/html/_static/basic.css
/docs/build/html/_static/debug.css
/docs/build/html/_static/doctools.js
/docs/build/html/_static/documentation_options.js
/docs/build/html/_static/file.png
/docs/build/html/_static/styles/furo.css
/docs/build/html/_static/styles/furo.css.map
/docs/build/html/_static/scripts/furo.js
/docs/build/html/_static/scripts/furo.js.LICENSE.txt
/docs/build/html/_static/scripts/furo.js.map
/docs/build/html/_static/styles/furo-extensions.css
/docs/build/html/_static/styles/furo-extensions.css.map
/docs/build/html/_static/scripts/furo-extensions.js
/docs/build/html/genindex.html
/docs/build/html/index.html
/docs/build/html/_sources/index.rst.txt
/docs/build/html/_static/language_data.js
/docs/build/html/_static/minus.png
/docs/build/html/modules.html
/docs/build/html/_sources/modules.rst.txt
/docs/build/html/objects.inv
/docs/build/html/_static/plus.png
/docs/build/html/py-modindex.html
/docs/build/html/_static/pygments.css
/docs/build/html/search.html
/docs/build/html/searchindex.js
/docs/build/html/_static/searchtools.js
/docs/build/html/_static/skeleton.css
/docs/build/html/_static/sphinx_highlight.js
/examples/temp.py
/docs/build/html/transformerx.data_loader.html
/docs/build/html/_sources/transformerx.data_loader.rst.txt
/docs/build/html/transformerx.html
/docs/build/html/transformerx.layers.addnorm.html
/docs/build/html/_sources/transformerx.layers.addnorm.rst.txt
/docs/build/html/transformerx.layers.dot_product_attention.html
/docs/build/html/_sources/transformerx.layers.dot_product_attention.rst.txt
/docs/build/html/transformerx.layers.html
/docs/build/html/transformerx.layers.masks.global_attention_mask.html
/docs/build/html/_sources/transformerx.layers.masks.global_attention_mask.rst.txt
/docs/build/html/transformerx.layers.masks.html
/docs/build/html/_sources/transformerx.layers.masks.rst.txt
/docs/build/html/transformerx.layers.multihead_attention.html
/docs/build/html/_sources/transformerx.layers.multihead_attention.rst.txt
/docs/build/html/transformerx.layers.positional_encoding.html
/docs/build/html/_sources/transformerx.layers.positional_encoding.rst.txt
/docs/build/html/transformerx.layers.positionwise_ffn.html
/docs/build/html/_sources/transformerx.layers.positionwise_ffn.rst.txt
/docs/build/html/_sources/transformerx.layers.rst.txt
/docs/build/html/transformerx.layers.transformer_decoder.html
/docs/build/html/_sources/transformerx.layers.transformer_decoder.rst.txt
/docs/build/html/transformerx.layers.transformer_decoder_block.html
/docs/build/html/_sources/transformerx.layers.transformer_decoder_block.rst.txt
/docs/build/html/transformerx.layers.transformer_encoder.html
/docs/build/html/_sources/transformerx.layers.transformer_encoder.rst.txt
/docs/build/html/transformerx.layers.transformer_encoder_block.html
/docs/build/html/_sources/transformerx.layers.transformer_encoder_block.rst.txt
/docs/build/html/_sources/transformerx.rst.txt
/docs/build/html/transformerx.training.base.html
/docs/build/html/_sources/transformerx.training.base.rst.txt
/docs/build/html/transformerx.training.html
/docs/build/html/_sources/transformerx.training.rst.txt
/docs/build/html/transformerx.txplot.html
/docs/build/html/transformerx.txplot.plot_pe.html
/docs/build/html/_sources/transformerx.txplot.plot_pe.rst.txt
/docs/build/html/_sources/transformerx.txplot.rst.txt
/docs/build/html/transformerx.utils.html
/docs/build/html/_sources/transformerx.utils.rst.txt
